@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');

.avatar-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  text-align: center;
  margin: 30px;
}

/* .image-wrapper .name {
  text-align: center;
} */

.main-image-wrapper {
  display: flex !important;
  justify-content: center;
}

.welcome {
  margin: auto;
  width: 50%;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  width: 500px;
}

.team-name {
  font-size: 140px;
  font-family: 'Lobster', cursive;
  line-height: 1.3 !important;
  color: #2E2C2C;
}

.name-wrapper {
  text-align: center;
  color: #2E2C2C
}

.name {
  font-family: 'Patua One', cursive;
  font-size: 25px;
}

.nickname {
  font-family: 'Libre Baskerville', serif;
  font-size: 12px;
}

body {
  margin: 0;
  padding: 0;
}

.start {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 100px;
}

.start button {
  width: 200px;
  height: 50px;
}

.find-category {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 50px;
}

.email-subject {
  margin: auto;
  margin-top: 40px;
}

.elastic-algo {
  width: 350px;
}

.naive-algo {
  width: 200px;
  margin-top: 7px;
}

.elastic-result {
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  color: black;
  font-size: 30px;
}

.native-result {
  text-align: center;
  margin-top: 20px;
  font-family: 'Abril Fatface', cursive;
  color: black;
  font-size: 30px;
}

.category-result {
  font-weight: bold;
}

.category-spin {
  margin-left: 6px !important;
}

.find-category .ant-input-search {
  width: 500px !important;
  height: 40px;
}

.spinn {
  display: flex;
  justify-content: center;
}

.email-elastic {
  margin-bottom: 15px;
}