@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400i&display=swap');

.avatar-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  text-align: center;
  margin: 30px;
}

/* .image-wrapper .name {
  text-align: center;
} */

.main-image-wrapper {
  display: flex !important;
  justify-content: center;
  max-width: 1000px;
}

.welcome {
  margin: auto;
  width: 50%;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  width: 500px;
}

.team-name {
  font-size: 140px;
  font-family: 'Lobster', cursive;
  line-height: 1.3 !important;
}

.name-wrapper {
  text-align: center;
  color: #2E2C2C
}

.name {
  font-family: 'Patua One', cursive;
  font-size: 25px;
}

.nickname {
  font-family: 'Libre Baskerville', serif;
  font-size: 12px;
}

body {
  margin: 0;
  padding: 0;
}

.start {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 100px;
}

.start button {
  width: 200px;
  height: 50px;
}

.find-category {
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.email-subject {
  width: 500px;
  margin: auto;
  margin-top: 40px;
}